* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #4891ff;
}

body {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    

    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;

    color: #555
}

a {
    text-decoration: none;
    color: #333;
    transition: 0.5s;

}

a:hover {
    color: var(--primary-color);
}

ul {
    list-style: none;

}

.bullet {
    list-style-type: disc; /* Default bullets */
    list-style-position: inside; /* Keeps bullets inside */
    padding-left: 1em;
}

ol {
    padding-top: 20px;
    padding-left: 2em;

}

ol ::marker {
    font-weight: 400;
    color: #000000; /* Example color */
}

li {
    margin-bottom: 10px;

}

/* imagens */

img {
    margin: 0 auto;
    display: block;
    max-width: 70%;
    
}

/* h's */
h1{
    color: #333;
    
}

h2 {
    margin-top: 1em;
    color: #333; 
}

h3 {
    margin-top: 0.8em;
    padding-top: 0.8em;
    color: #333;
}

h4 {
    margin-top: 0.5em;
    padding-top: 0.5em;
    color: #333;
}

p {
    
    padding-top: 1.2em;
    text-align: justify;
}

main {
    max-width: 50em;
    margin: 100px auto 0 auto;
    
}

/* Project */


/* hero */
.hero {
    margin-bottom: -20px;
    margin-top: 120px;
}

.hero .container {
    /*background: url('../images/cenario-azul.jpeg') no-repeat; */
    background-size: contain;
    background-position: center bottom;
    height: 350px;
}

.hero .hero-content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    
}

.hero .hero-text {
    width: 90%;
    margin-bottom: 20px;
}

.hero .hero-image img  { 
    max-width: 100%; 
    width: 600px;
    height: auto;
    border-radius: 50%; /* Makes the image round */
    
}

/* Utility navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 15px;
    text-align: center;

}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}


/* footer */
.footer {
    width: 100%; /* Full viewport width */
    position: static;
    margin-top: 30px;

}

.footer h4 {
    margin-bottom: 10px;
    color: #fff;
}

footer ul li {
    line-height: 1.1;
}

.footer a {
    color: #ccc;
}

.footer i {
    font-size: 1.5em;
    margin-right: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Code stuff */



/* background */

.bg-black {
    background: #000;
    color: #fff
}

/* card */

.card {
    background: #000;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.testimonials-grid {
    display: grid;
    gap: 30px;
}

.card h2, .card h3, .card p {
    color: #fff;
}

.card p {
    margin-top: 10px;
    font-weight: 200;
}


/* table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th {
    border-bottom: 1.5px solid black;
    border-top: 2px solid black;
}

tr:last-child td {
    border-bottom: 2px solid black;
}

.widetable {
    font-size: 14px;
    margin: 20px;
    width: 125%;
    margin-left: -12.5%;
}